
$codefont: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;

/* Include the padding and border in the size of each element */
* {
    box-sizing: border-box;
}

html, body {
    /* Eliminate the default margin and padding for these elements,
     * this effectively removes the scrollbars on the window */
    margin: 0px;
    padding: 0px;
    
    /* Use view-height and view-width units */
    height: 100vh;
    width: 100vw;
}

pre, code, .codejar-linenumbers  {
    font-family: $codefont;
}

.codejar-linenumbers {
    text-align: right;
    padding-right: 0.40rem;
}

.editor, .terminal {
    height: 50vh;
    font-family: $codefont;
    
    /*
    border-radius: 1rem;
    padding: 1rem;*/
}

.token.mnemonic.keyword {
    font-weight: bold;
}

